.modal {
    .cove {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        transition-property: opacity;
        display: table;
        text-align: center;

        .wrap {
            display: table-cell;
            vertical-align: middle;
        }

        &.coveshow {
            opacity: 1;
            visibility: visible;
            .content {
                opacity: 1;
            }
        }
    }

    .content {
        opacity: 0;
        position: relative;
        display: inline-block;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        pointer-events: none;
    }

    .zoomIn {
        .content {
            transform: scale3d(0, 0, 0);
        }
        &.coveshow {
            .content {
                transform: scale3d(1, 1, 1);
            }
        }
    }

    .zoomInLeft {
        .content {
            transform: scale3d(0, 0, 0) translate3d(-50em, 0, 0);
        }
        &.coveshow {
            .content {
                transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            }
        }
    }

    .zoomInRight {
        .content {
            transform: scale3d(0, 0, 0) translate3d(50em, 0, 0);
        }
        &.coveshow {
            .content {
                transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            }
        }
    }

    .zoomInDown {
        .content {
            transform: scale3d(0, 0, 0) translate3d(0, -50em, 0);
        }
        &.coveshow {
            .content {
                transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            }
        }
    }

    .zoomInUp {
        .content {
            transform: scale3d(0, 0, 0) translate3d(0, 50em, 0);
        }
        &.coveshow {
            .content {
                transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            }
        }
    }

    .fadeInLeft {
        .content {
            transform: translateX(-50em);
        }
        &.coveshow {
            .content {
                transform: translateX(0);
            }
        }
    }

    .fadeInRight {
        .content {
            transform: translateX(50em);
        }
        &.coveshow {
            .content {
                transform: translateX(0);
            }
        }
    }

    .fadeInDown {
        .content {
            transform: translateY(-50em);
        }
        &.coveshow {
            .content {
                transform: translateY(0);
            }
        }
    }

    .fadeInUp {
        .content {
            transform: translateY(50em);
        }
        &.coveshow {
            .content {
                transform: translateY(0);
            }
        }
    }
    
    .flipInX {
        .content {
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transition-timing-function: ease-in;
            opacity: 0;
        }
        &.coveshow {
            .content {
                transform: perspective(0);
                transition-timing-function: ease-in;
                opacity: 1;
            }
        }
    }

    .flipInY {
        .content {
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transition-timing-function: ease-in;
            opacity: 0;
        }
        &.coveshow {
            .content {
                transform: perspective(0);
                transition-timing-function: ease-in;
                opacity: 1;
            }
        }
    }

    .modify {
        position: absolute;
        top: 0;
    }

    .modules {
        background-color: #fff;
        margin: 0 auto;
        position: relative;
        pointer-events: painted;
    }

    .left {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    .close {
        position: absolute;
        right: 0;
        top: 0;
    }
}
